<nav class="navbar bg-dark">
    <img src="/public/assets/img/logo.png" height="80" class="d-inline-block align-top mx-auto" alt="">
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h4>New Burgers</h4>
                </div>
                {{!-- <div class="col-md-6 text-center" class="task"> --}}
                    <div class="row">
                        {{#each burger_data}}
                            {{#unless this.devoured}}
                            <div class="card-body">
                                <div class="row">
                                <div class="col-md-9">
                                
                                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                                </div>
                                <div class="col-md-3">
                                    <form class="devour-form button-size">
                                        <input type="hidden" class="burger_id" type="text" value={{this.id}}>
                                        <button type="submit" class="btn btn-sm btn-outline-danger m-1 devour-btn float-right">Devour it!<i class="fas fa-utensils ml-2"></i></button>
                                        </input>
                                
                                    </form>
                                </div>
                                </div>
                            </div>
                        {{/unless}}
                        {{/each}}
                    </div>
                {{!-- </div> --}}
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Devoured</h4>
                </div>
                <div class="card-body">
                    <div class="col-xs-6 text-center" class="task">
                        {{#each burger_data}}
                        {{#if this.devoured}}
                        <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="col-xs-12 text-center enter_section">
                <form action="/burgers/create" method="POST">
                    <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                    <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
                    </input>
                </form>
                <p>Enter a burger you want to eat Click the "Submit" button.</p>
            </div>
        </div>
    </div>
</div>